# Taxonomy Wizard specific
pytest.ini
taxonomy_wizard.code-workspace
unused_code/
venv-*/
TEMP*
resources/python_cloud_functions/configurator/jinja_templates/delimited_validator.old.sql
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
resources/apps_script/configurator/.clasp.json
resources/apps_script/validator/.clasp.json
**/testing/**
*test.py
Code_test.js

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
